<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StaticMapper">
    <select id="staticLowestSalaryEveryYear"  resultType="com.dto.output.SalaryEveryYeary">
    		SELECT `year`, MIN(`total`) as salary ,username as userName FROM salary GROUP BY `year`
    </select>
    <select id="staticHighSalaryEveryYear"  resultType="com.dto.output.SalaryEveryYeary">
    		SELECT `year`, MAX(`total`) as salary ,username as userName FROM salary GROUP BY `year`
    </select>
    <select id="staticTotalSalaryEveryYear"  resultType="com.dto.output.SalaryEveryYeary">
    		SELECT `year`, SUM(`total`) as salary  FROM salary GROUP BY `year`
    </select>
    <select id="staticAverageSalaryEveryYear"  resultType="com.dto.output.SalaryEveryYeary">
    		SELECT `year`, AVG(`total`) as salary FROM salary GROUP BY `year`
    </select>
</mapper>
